<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to WChallengence</h1>
    <p class="lead">You can see users, photos, almbums and more.</p>
  </div>
</div>