<div class="row text-center">
  <% obj.each do |photo| %>
    <div class="col-lg-3 col-md-4 col-6">
      <%= link_to photo["url"], class: 'd-block mb-4 h-100', target: '_blank' do %>
        <%= image_tag photo["thumbnailUrl"], class: 'img-fluid img-thumbnail', alt: photo["title"] %>
      <% end %>
    </div>
  <% end %>
</div>

<%= will_paginate obj, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>